<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>google</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.604256224651-du8anid2u3nen6bvpm3ugq9inr7l46if</string>
                </array>
            </dict>
        </array>
        <key>GIDClientID</key>
        <string>604256224651-du8anid2u3nen6bvpm3ugq9inr7l46if.apps.googleusercontent.com</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <false/>
            <key>NSPinnedDomains</key>
            <dict>
                <key>openai.com</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSPinnedCAIdentities</key>
                    <array>
                        <dict>
                            <key>SPKI-SHA256-BASE64</key>
                            <string>hxqRlPTu1bMS/0DITB1SSu0vd4u/8l8TjPgfaAp63Gc=</string>
                        </dict>
                        <dict>
                            <key>SPKI-SHA256-BASE64</key>
                            <string>Vfd95BwDeSQo+NUYxVEEIlvkOlWY2SalKK1lPhzOx78=</string>
                        </dict>
                        <dict>
                            <key>SPKI-SHA256-BASE64</key>
                            <string>QXnt2YHvdHR3tJYmQIr0Paosp6t/nggsEGD4QJZ3Q0g=</string>
                        </dict>
                        <dict>
                            <key>SPKI-SHA256-BASE64</key>
                            <string>mEflZT5enoR1FuXLgYYGqnVEoZvmf9c2bVBpiOjYQ0c=</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
